.contador input{
    width: 60px;
    font-size: 1.4rem;
}

.contador button{
    width: 30px;
    height: 30px;
    margin: 15px;
    color: #FFFFFF;
    font-size: 1.4rem;
    border-radius: 100%;
    background-color: #0B3954;
}